<div class="container-fluid header">
  <div class="row">
    <div class="col-sm-12">
      <ul class="menu-navbar">
        
        <li class="item">
          <a [routerLink]="['/home']"><i class="material-icons">home</i>Pacientes</a>
          <ul class="submenu">
            <li class="item">
              <a [routerLink]="['/patients']"><i class="material-icons">list</i>Listar Pacientes</a>
            </li>
          </ul>
        </li>


        <li class="item">
          <a><i class="material-icons">assignment_ind</i>Personal</a>
          <ul class="submenu">
            <li class="item">
              <a [routerLink]="['/personal']"><i class="material-icons">list</i>Listar Personal</a>
            </li>
            <li class="item">
                <a [routerLink]="['/addpersonal']"><i class="material-icons">add_box</i>Añadir Personal</a>
              </li>
          </ul>
        </li>

        <li class="item">
          <a><i class="material-icons">local_pharmacy</i>Tratamientos</a>
          <ul class="submenu">
            <li class="item">
              <a [routerLink]="['/attention']"><i class="material-icons">list</i>Listar Tratamientos</a>
            </li>
            <li class="item">
                <a [routerLink]="['/addattention']"><i class="material-icons">add_box</i>Añadir Tratamiento</a>
              </li>
          </ul>
        </li>

        <li class="item">
          <a [routerLink]="['/schedule']"><i class="material-icons">schedule</i>Horario</a>
        </li>

        <li class="item">
          <a [routerLink]="['/pendingboard']"><i class="material-icons">new_releases</i>Pendientes ({{pending_count}})</a>
        </li>

        <li class="item" *ngIf="user.rol === 'admin'">
          <a><i class="material-icons">view_list</i>Reportes</a>
          <ul class="submenu">
            <li class="item">
              <a [routerLink]="['/reportpersonal']">Reporte de personal</a>
            </li>
          </ul>
        </li>

        <li class="item" *ngIf="user.rol === 'admin'">
          <a><i class="material-icons">view_list</i>Usuarios</a>
          <ul class="submenu">
            <li class="item">
              <a [routerLink]="['/adduser']">Agregar Usuario</a>
            </li>
            <li class="item">
              <a [routerLink]="['/listuser']">Lista de Usuarios</a>
            </li>
          </ul>
        </li>

        <li class="item user">
          <a><i class="material-icons">account_box</i>{{ user.username }}</a>
          <ul class="submenu">
            <li class="item">
              <a [routerLink]="['/edituser']">Cambiar datos</a>
            </li>
            <li class="item">
              <a (click)="logout()">Salir</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
