<app-header></app-header>
<div class="row justify-content-center personalform mt-3">
  <div class="col-sm-6">
    <form [formGroup]="options">
      <div class="form-row">
        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="surname">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni" type="number">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Es Doctor?" formControlName="is_doctor">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Es FisioKids?" formControlName="is_kids">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Sede" formControlName="sede">
              <mat-option value="perla">La perla</mat-option>
              <mat-option value="recoleta">Ronda Recoleta</mat-option>
              <mat-option value="torre">Torre médica</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <button class="btn btn-color2 mr-2" (click)="save()">Guardar</button>
          <button class="btn btn-color1" (click)="cancel()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>