<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-8">
    <h2>Calendario de atenciones</h2>
    <div class="row">
      <div *ngFor="let cal of calendar; index as i" class="col-sm-2 calendar_item">
        <div class="day_cont {{cal.status}}">
          <i *ngIf="cal.status === 'vino'" [matMenuTriggerFor]="menu" class="material-icons">expand_more</i>
          <p class="text-center">{{ getdayofweek(cal.schedule) }}</p>
          <p>fecha: {{ cal.schedule | date:'dd/LL/yyyy' }}</p>
          <p>hora: {{ cal.schedule | date:'shortTime' }}</p>
          <p>estado: {{ cal.status }}</p>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog('Reprogramar', cal)">Reprogramar</button>
            <button mat-menu-item (click)="openDialog('Cancelar', cal)">Cancelar</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>