<app-header></app-header>
<div class="row justify-content-center mt-3">

  <div class="col-sm-4 mt-5" *ngIf="step === 1">
    <h2>Buscar paciente</h2>
    <form [formGroup]="options">
      <div class="form-row">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Paciente" matInput [formControl]="patientControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='patientChange($event.option.id)'>
              <mat-option *ngFor="let option of filteredOptions | async" [id]="option.id" [value]="option.names + ' ' + option.surnames">
                {{option.names}} {{option.surnames}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-sm-12 text-right">
          <button class="btn btn-color2 mr-2" (click)="stepChange(1)">Siguiente</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-11" *ngIf="step === 2">
    <h2>Atención con el médico</h2>
    <div class="row justify-content-center attentionform mt-3">
      <div class="col-sm-4">
        <form [formGroup]="options">
          <div class="form-row">
            
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Paciente" matInput [formControl]="patientControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='patientChange($event.option.id)'>
                  <mat-option *ngFor="let option of filteredOptions | async" [id]="option.id" [value]="option.names + ' ' + option.surnames">
                    {{option.names}} {{option.surnames}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
    
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Doctor" matInput [formControl]="doctorControl" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" (optionSelected)='doctorChange($event.option.id)'>
                  <mat-option *ngFor="let option of filteredOptions3 | async" [id]="option.id" [value]="option.name + ' ' + option.surname">
                    {{option.name}} {{option.surname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-sm-12" *ngIf="!showMessage">
              <button class="btn btn-color2 mr-2" (click)="stepChange(2)">Guardar</button>
              <button class="btn btn-color1" (click)="cancel()">Cancelar</button>
            </div>

            <div class="col-sm-12 mt-3" *ngIf="showMessage">
              <h6>¿Tienes autorizado agregarle atención fisioterapeutica sin atención médica?</h6>
              <button class="btn btn-color2 mr-2" (click)="Si()">Si</button>
              <button class="btn btn-color2 mr-2" (click)="No()">No</button>
            </div>

          </div>
        </form>
      </div>
    
      <!-- Calendario -->
      <div class="col-sm-8">
        <a class="menu" *ngIf="doctorCalendar == false">
          <p>Calendario</p>
          <i class="material-icons" (click)="gotoCalendar()">date_range</i>
        </a>
        <div class="row" *ngIf="doctorCalendar">
          <div class="col-sm-12">
            <div class="week_calendar">
              <h5>Semana: {{firstDay | date: 'dd/LL/yyyy'}} - {{lastDay | date: 'dd/LL/yyyy'}}</h5>
              <a *ngIf="week_next" (click)="next_week()">Siguiente semana <i class="material-icons">arrow_forward</i></a>
              <a *ngIf="week_next == false" (click)="previus_week()"><i class="material-icons">arrow_back</i> Semana actual</a>
            </div>
            <div class="horario row horario_home">
              <div class="col" *ngFor="let cal of calendar_global; index as i">
                <div class="horario-title">
                  <h4>{{ weekdays[i] }}</h4>
                </div>
                <div class="horario-boddy">
                  <div *ngFor="let schedule of cal" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                    <h4>{{schedule.time | date: 'shortTime'}} <br> <span [innerHTML]="schedule.patient"></span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




  <div class="col-sm-11" *ngIf="step === 3">
    
      <div class="row justify-content-center attentionform mt-3">
        <div class="col-sm-4">
          <form [formGroup]="options">
            <div class="form-row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Paciente" matInput [formControl]="patientControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='patientChange($event.option.id)'>
                    <mat-option *ngFor="let option of filteredOptions | async" [id]="option.id" [value]="option.names + ' ' + option.surnames">
                      {{option.names}} {{option.surnames}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
      
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Fisioterapeuta" matInput [formControl]="personalControl" [matAutocomplete]="auto2">
                  <mat-autocomplete #auto2="matAutocomplete" (optionSelected)='personalChange($event.option.id)'>
                    <mat-option *ngFor="let option of filteredOptions2 | async" [id]="option.id" [value]="option.name + ' ' + option.surname">
                      {{option.name}} {{option.surname}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
      
              <div class="col-sm-12">
                <mat-form-field appearance="legacy">
                  <mat-label>Sesiones</mat-label>
                  <input matInput formControlName="sessions" type="number">
                </mat-form-field>
              </div>
      
              <div class="col-sm-12">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha de Inicio" formControlName="date_init" (focus)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
      
              <div class="col-sm-12">
                <mat-form-field appearance="legacy">
                  <mat-select placeholder="Intervalo" formControlName="interval">
                    <mat-option value="Lu-Ma-Mi-Ju-Vi">Diario Lun - Vie</mat-option>
                    <mat-option value="Lu-Ma-Mi-Ju-Vi-Sa">Diario Lun - Sab</mat-option>
                    <mat-option value="Lu-Mi-Vi">Interdiario Lu - Mie - Vie</mat-option>
                    <mat-option value="Ma-Ju-Sa">Interdiario Mar - Jue - Sab</mat-option>
                    <mat-option value="1d">1 dia</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Horario Lunes a Viernes" matInput [formControl]="hourcontrol1" [matAutocomplete]="auto4">
                  <mat-autocomplete #auto4="matAutocomplete" (optionSelected)='hourChange($event.option.id, 1)'>
                    <mat-option *ngFor="let option of filteredOptions4 | async" [id]="option.value" [value]="option.hour">
                      {{option.hour}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
      
              <!--<div class="col-sm-12">
                <mat-form-field appearance="legacy">
                  <mat-label>Horario Lunes a Viernes</mat-label>
                  <input [ngxTimepicker]="pickerTime" [format]="12" matInput formControlName="hour">
                  <ngx-material-timepicker #pickerTime></ngx-material-timepicker>
                </mat-form-field>
              </div>-->

              <div class="col-sm-12" *ngIf="options.get('interval').value === 'Lu-Ma-Mi-Ju-Vi-Sa' || options.get('interval').value === 'Ma-Ju-Sa'">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Horario Sábado" matInput [formControl]="hourcontrol2" [matAutocomplete]="auto5">
                  <mat-autocomplete #auto5="matAutocomplete" (optionSelected)='hourChange($event.option.id, 2)'>
                    <mat-option *ngFor="let option of filteredOptions5 | async" [id]="option.value" [value]="option.hour">
                      {{option.hour}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!--<div class="col-sm-12" *ngIf="options.get('interval').value === 'Lu-Ma-Mi-Ju-Vi-Sa' || options.get('interval').value === 'Ma-Ju-Sa'">
                <mat-form-field appearance="legacy">
                  <mat-label>Horario Sabado</mat-label>
                  <input [ngxTimepicker]="pickerTime2" [format]="12" matInput formControlName="hour2">
                  <ngx-material-timepicker #pickerTime2></ngx-material-timepicker>
                </mat-form-field>
              </div>-->
      
              <div class="col-sm-12">
                <button class="btn btn-color2 mr-2" (click)="save()">Guardar</button>
                <button class="btn btn-color1" (click)="cancel()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      
        <!-- Calendario -->
        <div class="col-sm-8">
          <a class="menu" *ngIf="doctorCalendar == false">
            <p>Calendario</p>
            <i class="material-icons" (click)="gotoCalendar()">date_range</i>
          </a>
          <div class="row" *ngIf="doctorCalendar">
            <div class="col-sm-12">
              <div class="week_calendar">
                <h5>Semana: {{firstDay | date: 'dd/LL/yyyy'}} - {{lastDay | date: 'dd/LL/yyyy'}}</h5>
                <a *ngIf="week_next" (click)="next_week()">Siguiente semana <i class="material-icons">arrow_forward</i></a>
                <a *ngIf="week_next == false" (click)="previus_week()"><i class="material-icons">arrow_back</i> Semana actual</a>
              </div>
              <div class="horario row horario_home">
                <div class="col" *ngFor="let cal of calendar_global; index as i">
                  <div class="horario-title">
                    <h4>{{ weekdays[i] }}</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of cal" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} <br> <span [innerHTML]="schedule.patient"></span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>