<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-8 text-center" *ngIf="data.length <= 0">
    <h4>No se le definio horarios aun</h4>
    <button class="btn btn-color2" (click)="addSchedule()">Agregar horario</button>
  </div>
  <div class="col-sm-8 mt-3">
    <div class="gobackCont">
      <a class="goback" (click)="router.navigate(['/personal'])">
        <i class="material-icons">arrow_back</i>
        Volver
      </a>
      <h4>{{personal.name}} {{personal.surname}}</h4>
      <button class="btn btn-color2" (click)="router.navigate(['/addschedulepersonal'])">Agregar Horario</button>
    </div>
    <div class="horario row">
      <div class="col">
        <div class="horario-title">
          <h4>Lunes</h4>
        </div>
        <div class="horario-boddy">
          <div *ngFor="let schedule of parseDay('Lu')" (click)="editSchedule(schedule)">
            <h4>{{schedule.start_hour}}</h4>
            <h4>{{schedule.end_hour}}</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="horario-title">
          <h4>Martes</h4>
        </div>
        <div class="horario-boddy">
          <div *ngFor="let schedule of parseDay('Ma')" (click)="editSchedule(schedule)">
            <h4>{{schedule.start_hour}}</h4>
            <h4>{{schedule.end_hour}}</h4>
          </div>          
        </div>
      </div>

      <div class="col">
        <div class="horario-title">
          <h4>Miercoles</h4>
        </div>
        <div class="horario-boddy">
          <div *ngFor="let schedule of parseDay('Mi')" (click)="editSchedule(schedule)">
            <h4>{{schedule.start_hour}}</h4>
            <h4>{{schedule.end_hour}}</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="horario-title">
          <h4>Jueves</h4>
        </div>
        <div class="horario-boddy">
          <div *ngFor="let schedule of parseDay('Ju')" (click)="editSchedule(schedule)">
            <h4>{{schedule.start_hour}}</h4>
            <h4>{{schedule.end_hour}}</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="horario-title">
          <h4>Viernes</h4>
        </div>
        <div class="horario-boddy">
          <div *ngFor="let schedule of parseDay('Vi')" (click)="editSchedule(schedule)">
            <h4>{{schedule.start_hour}}</h4>
            <h4>{{schedule.end_hour}}</h4>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="horario-title">
          <h4>Sabado</h4>
        </div>
        <div class="horario-boddy">
          <div *ngFor="let schedule of parseDay('Sa')" (click)="editSchedule(schedule)">
            <h4>{{schedule.start_hour}}</h4>
            <h4>{{schedule.end_hour}}</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
