<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-4">
    <form>
      <div class="form-row">
        <mat-form-field>
          <input [disabled]="true" matInput placeholder="usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>
          <input type="password" matInput placeholder="contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>
          <mat-select [disabled]="true" placeholder="Seleccione una sede" [(ngModel)]="sede" [ngModelOptions]="{standalone: true}">
            <mat-option value="recoleta">Ronda Recoleta</mat-option>
            <mat-option value="perla">La perla</mat-option>
            <mat-option value="torre">Torre Médica</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field>
          <mat-select [disabled]="true" placeholder="Seleccione un rol" [(ngModel)]="rol" [ngModelOptions]="{standalone: true}">
            <mat-option value="recepcion">Recepción</mat-option>
            <mat-option value="admin">Administración</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </form>
  </div>
</div>
