<div class="row justify-content-center align-items-center intro">
  <div class="col-sm-3">
    <h2>Ingreso</h2>
    <form (submit)="login()">
      <div class="form-row">
        <input type="text" class="form-control" placeholder="usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-row mt-3">
        <input type="password" class="form-control" placeholder="contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-row mt-3 justify-content-end">
        <button class="btn btn-primary" type="submit" >Aceptar</button>
      </div>
    </form>
  </div>  
</div>