<app-header></app-header>
<div class="row justify-content-center personalform mt-3">
  <div class="col-sm-6">
    <div class="gobackCont">
      <a class="goback" (click)="scheduleTable()">
        <i class="material-icons">arrow_back</i>
        Volver
      </a>
      <h4>{{personal.name}} {{personal.surname}}</h4>
    </div>
    <form [formGroup]="options">
      <div class="form-row">
        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Dia" formControlName="day">
              <mat-option value="Lu">Lunes</mat-option>
              <mat-option value="Ma">Martes</mat-option>
              <mat-option value="Mi">Miercoles</mat-option>
              <mat-option value="Ju">Jueves</mat-option>
              <mat-option value="Vi">Viernes</mat-option>
              <mat-option value="Sa">Sabado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>Hora Inicio</mat-label>
            <input [ngxTimepicker]="picker" [format]="24" matInput formControlName="start_hour">
            <ngx-material-timepicker #picker></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>Hora Fin</mat-label>
            <input [ngxTimepicker]="picker1" [format]="24" matInput formControlName="end_hour">
            <ngx-material-timepicker #picker1></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-12" *ngIf="personal.is_doctor === 's'">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Sede" formControlName="sede">
              <mat-option value="recoleta">Ronda Recoleta</mat-option>
              <mat-option value="torre">Torre Médica</mat-option>
              <mat-option value="perla">La Perla</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Duración de turno" formControlName="duration">
              <mat-option value="15">15 Minutos</mat-option>
              <mat-option value="30">30 Minutos</mat-option>
              <mat-option value="60">1 Hora</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-11">
          <button class="btn btn-color2 mr-2" (click)="save()">Guardar</button>
          <button class="btn btn-color1 mr-2" (click)="cancel()">Cancelar</button>
        </div>
        <div class="col-sm-1 text-right">
          <button class="btn btn-color3" (click)="delete()"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </form>
  </div>
</div>