<app-header></app-header>
<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="row mt-3 mb-3">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h2 class="text-center">Personal</h2>
      </div>
      <div class="col-sm-4 text-right">
        <a [routerLink]="[ '/addpersonal']" class="btn btn-primary">Agregar personal</a>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPersonal(element)"> {{element.surname}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombres </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPersonal(element)"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPersonal(element)"> {{element.dni}} </td>
        </ng-container>

        <ng-container matColumnDef="is_doctor">
          <th mat-header-cell *matHeaderCellDef> ¿Es Doctor? </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPersonal(element)"> {{element.is_doctor == 's' ? 'Si' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Ver Horarios </th>
          <td mat-cell *matCellDef="let element"> 
            <!--<i class="material-icons clickable" (click)="openDialog('Eliminar', element)">delete</i>-->
            <i class="material-icons clickable" (click)="schedulePersonal(element)">watch_later</i> 
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
