.gobackCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .goback {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    h4 {
        text-align: center;
    }
}