<div class="row justify-content-center form">
  <div class="col-sm-12">
    <form [formGroup]="options">
      <div class="form-row">
        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="surname">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Tipo de paciente" formControlName="type" (selectionChange)="aParticular($event)">
              <mat-option value="p">Particular</mat-option>
              <mat-option value="e">EPS</mat-option>
              <mat-option value="s">SOAT</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12" *ngIf="showQuestions">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Tuvo Operacion reciente?" formControlName="fisiat">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12" *ngIf="showQuestions">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Tuvo Fractura reciente?" formControlName="fisiat">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12" *ngIf="showQuestions">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Tuvo Accidente reciente?" formControlName="fisiat">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Receta de Traumatologo?" formControlName="traum">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="¿Receta de Fisiatra?" formControlName="fisiat">
              <mat-option value="s">Si</mat-option>
              <mat-option value="n">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="Elegir doctor" formControlName="doctor" (selectionChange)="changeDoctor()">
              <mat-option *ngFor="let doctor of personal" value="{{doctor.id}}">{{doctor.name}} {{doctor.surname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </form>
  </div>
</div>