<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-8">
    <div class="row mt-3 mb-3">
      <div class="col-sm-4">
        <form (submit)="filterPatient()">
          <div class="form-row">
            <div class="col-sm-10">
              <input class="form-control" placeholder="buscar paciente" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-sm-2">
              <button *ngIf="!isSearching" type="submit" class="searchbutton clickable">
                <i class="material-icons">search</i>
              </button>
              <a *ngIf="isSearching" class="closesearch clickable" (click)="closesearch()"><i class="material-icons">close</i></a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <h2 class="text-center">Pacientes</h2>
      </div>
      <div class="col-sm-4 text-right">
        <a [routerLink]="[ '/home']" class="btn btn-primary">Agregar paciente</a>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{element.surnames}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombres </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{element.names}} </td>
        </ng-container>
    
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{element.dni}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <i class="material-icons clickable" (click)="schedulePersonal(element)">watch_later</i> 
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
