table {
    width: 100%;
}
.searchbutton {
    background: transparent;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-top: .25rem;
}

.closesearch {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    /* margin-left: -2rem; */
    margin-top: 1px;
    display: block;
    padding: .35rem;
    
    i {
        display: block;
    }
}