<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-10">
    
      <div class="row justify-content-center attentionform mt-3">      
        <!-- Calendario -->
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="week_calendar">
                <mat-form-field class="dateformfield">
                  <input matInput [matDatepicker]="picker" class="hiddenform" [(ngModel)]="today" (dateChange)="changeToday($event)">
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button class="btn btn-primary" mat-raised-button (click)="picker.open()">{{today | date: 'EEEE, dd - MMMM'}}</button>
                <div class="col-sm-3">
                  <mat-form-field appearance="legacy" *ngIf="(sede == 'recoleta' || sede == 'torre') || user.rol == 'admin'">
                    <mat-select placeholder="Sede" [(value)]="sede" (selectionChange)="regenerateData()">
                      <mat-option value="recoleta">Ronda Recoleta</mat-option>
                      <mat-option value="torre">Torre Médica</mat-option>
                      <mat-option value="perla" *ngIf="user.rol == 'admin'">La Perla</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field appearance="legacy" *ngIf="weekday !== 6">
                    <mat-select placeholder="Turno" [(value)]="turno" (selectionChange)="refreshSchedule()">
                      <mat-option value="m">Mañana</mat-option>
                      <mat-option value="t">Tarde</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="Horario" [(value)]="is_kids" (selectionChange)="refreshSchedule()">
                      <mat-option value="s">Niños</mat-option>
                      <mat-option value="n">Adultos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="horario row horario_home">
                <div class="prev" matTooltip="{{yesterday | date: 'EEEE, dd - MMMM'}}" (click)="setYesterday()">
                    <i class="material-icons">keyboard_arrow_left</i>
                </div>
                <div class="next" matTooltip="{{tomorrow | date: 'EEEE, dd - MMMM'}}" (click)="setTomorrow()">
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
                <div class="col" *ngFor="let personal of calendario">
                  <div class="horario-title">
                    <h4>{{personal.name}}</h4>
                  </div>


                  <div class="horario-boddy">
                    <div *ngFor="let schedule of personal.hours" class="{{schedule.class}}" (click)="setDateTime(schedule)">
                      <h4>
                        {{schedule.time | date: 'shortTime'}} <br> <p [innerHTML]="schedule.patient"></p>
                        <i *ngIf="schedule.patient !== '' && schedule.class === 'vino'" [matMenuTriggerFor]="menu" class="material-icons">expand_more</i>
                      </h4>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog('Reprogramar', schedule)">Reprogramar</button>
                        <button mat-menu-item (click)="openDialog('Cancelar', schedule)">Cancelar</button>
                      </mat-menu>
                    </div>
                  </div>
                </div>
      
      
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>