.horario-boddy {
    .open {
        background: #ffffff;
    }
    .no.vino {
        background: #ff6b6b;
    }
    .vino {
        background: #B8E2C8;
    }
    .cambio.horario {
        background: #ffed85;
    }
    h4 {
        i {
            position: absolute;
            right: 2rem;
        }
    }
}

.dateformfield {
    width: 1px;
}

.horario_home {
    position: relative;
    padding: 0 30px;
    .prev {
        position: absolute;
        left: 0;
        top: 40%;
        cursor: pointer;
        i {
            font-size: 3rem;
        }
    }
    .next {
        position: absolute;
        right: 0;
        top: 40%;
        cursor: pointer;
        i {
            font-size: 3rem;
        }
    }
}