<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-11">
    <h2 class="text-center">Tratamientos</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="patient">
          <th mat-header-cell *matHeaderCellDef> Paciente </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{parsePatient(element.patient)}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sessions">
          <th mat-header-cell *matHeaderCellDef> Sesiones </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{getSessions(element.id)}} </td>
        </ng-container>
    
        <ng-container matColumnDef="startdate">
          <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{getStartDate(element.id)}} </td>
        </ng-container>

        <ng-container matColumnDef="interval">
          <th mat-header-cell *matHeaderCellDef> Intervalo </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{getInterval(element.id)}} </td>
        </ng-container>

        <ng-container matColumnDef="hour">
          <th mat-header-cell *matHeaderCellDef> Horario </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{getHour(element.id)}} </td>
        </ng-container>

        <ng-container matColumnDef="personal">
          <th mat-header-cell *matHeaderCellDef> Tereapeuta </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{parsePersonal(element.id)}} </td>
        </ng-container>

        <ng-container matColumnDef="medic_attention">
          <th mat-header-cell *matHeaderCellDef> Consulta con el médico </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{getMedicConsult(element.id)}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td class="clickable" mat-cell *matCellDef="let element" (click)="editAttention(element)"> {{element.status == 'active' ? 'activo' : 'terminado'}} </td>
        </ng-container>
        

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <i class="material-icons clickable" matTooltip="Eliminar Tratamiento" (click)="deletePersonal(element)">delete</i>
          </td>
        </ng-container>

        <ng-container matColumnDef="reg_medic">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <i *ngIf="getMedicConsult(element.id) === 'no'" matTooltip="Agregar cita con el médico" class="material-icons clickable" (click)="doctorRegularice(element)">work</i>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
