<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-10">
    
      <div class="row justify-content-center attentionform mt-3">      
        <!-- Calendario -->
        <div class="col-sm-7">
          <a class="menu" *ngIf="doctorCalendar == false">
            <p>Calendario</p>
            <i class="material-icons" (click)="gotoCalendar()">date_range</i>
          </a>
          <div class="row" *ngIf="doctorCalendar">
            <div class="col-sm-12">

              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Fisioterapeuta" matInput [formControl]="personalControl" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)='personalChange($event.option.id)'>
                  <mat-option *ngFor="let option of filteredOptions2 | async" [id]="option.id" [value]="option.name + ' ' + option.surname">
                    {{option.name}} {{option.surname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <div class="week_calendar">
                <h5>Semana: {{firstDay | date: 'dd/LL/yyyy'}} - {{lastDay | date: 'dd/LL/yyyy'}}</h5>
                <a *ngIf="week_next" (click)="next_week()">Siguiente semana <i class="material-icons">arrow_forward</i></a>
                <a *ngIf="week_next == false" (click)="previus_week()"><i class="material-icons">arrow_back</i> Semana actual</a>
              </div>
              <div class="horario row horario_home">
                <div class="col">
                  <div class="horario-title">
                    <h4>Lunes</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of parseDay('Lu', 0)" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} {{schedule.patient}}</h4>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="horario-title">
                    <h4>Martes</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of parseDay('Ma', 1)" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} {{schedule.patient}}</h4>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="horario-title">
                    <h4>Miercoles</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of parseDay('Mi', 2)" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} {{schedule.patient}}</h4>
                    </div>                  
                  </div>
                </div>
      
                <div class="col">
                  <div class="horario-title">
                    <h4>Jueves</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of parseDay('Ju', 3)" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} {{schedule.patient}}</h4>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="horario-title">
                    <h4>Viernes</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of parseDay('Vi', 4)" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} {{schedule.patient}}</h4>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="horario-title">
                    <h4>Sabado</h4>
                  </div>
                  <div class="horario-boddy">
                    <div *ngFor="let schedule of parseDay('Sa', 5)" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                      <h4>{{schedule.time | date: 'shortTime'}} {{schedule.patient}}</h4>
                    </div>                  
                  </div>
                </div>
      
      
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-7 mt-4">
          <button class="btn btn-danger mr-2" (click)="cancel()">Cancelar</button>
          <button class="btn btn-primary" (click)="save()">Aceptar</button>
        </div>
      </div>

  </div>
</div>