<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-10">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <ng-container matColumnDef="attention">
            <th mat-header-cell *matHeaderCellDef> Tratamiento </th>
            <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{element.attention}} </td>
          </ng-container>
      
          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef> Paciente </th>
            <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{parsePatient(element.patient)}} </td>
          </ng-container>
      
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Mensaje </th>
            <td class="clickable" mat-cell *matCellDef="let element" (click)="editPatient(element)"> {{element.message}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>