<h1 mat-dialog-title>¿Segura que quieres {{data.action}}?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.action" cdkFocusInitial>Si</button>
</div>