<app-header></app-header>
<div class="row justify-content-center pt-3">
  <div class="col-sm-10">
    <form [formGroup]="options">
      <div class="form-row">
        <div class="col-sm-4">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Fisioterapeuta" matInput [formControl]="personalControl" [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)='personalChange($event.option.id)'>
              <mat-option *ngFor="let option of filteredOptions2 | async" [id]="option.id" [value]="option.name + ' ' + option.surname">
                {{option.name}} {{option.surname}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Desde" formControlName="date_init" (focus)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Hasta" formControlName="date_end" (focus)="picker2.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-sm-4 text-right">
          <button class="btn btn-color2 mr-2" (click)="save()">Generar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-10 mt-5" *ngIf="showloading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="col-sm-10" *ngIf="showtable">
    <div class="row">
      <div class="col-sm-3">
        Total de atentiones: {{total_attentions}}
      </div>
      <div class="col-sm-3">
        Atenciones asistidas: {{attentions_succesfull}}
      </div>
      <div class="col-sm-3">
        Atenciones no asistidas: {{attentions_failed}}
      </div>
      <div class="col-sm-3">
        Atenciones reprogramadas: {{attentions_reprogramed}}
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="calendarDays">
    
        <ng-container matColumnDef="patient">
          <th mat-header-cell *matHeaderCellDef> Paciente </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{parsePatient(element.patient)}} </td>
        </ng-container>
    
        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.schedule}} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
