<app-header></app-header>
<div class="row justify-content-center mt-3">

  <div class="col-sm-11">
    <h2>Atención con el médico</h2>
    <div class="row justify-content-center attentionform mt-3">
      <div class="col-sm-4">
        <form>
          <div class="form-row">
            
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Paciente" matInput [formControl]="patientControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='patientChange($event.option.id)'>
                  <mat-option *ngFor="let option of filteredOptions | async" [id]="option.id" [value]="option.names + ' ' + option.surnames">
                    {{option.names}} {{option.surnames}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
    
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Doctor" matInput [formControl]="doctorControl" [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" (optionSelected)='doctorChange($event.option.id)'>
                  <mat-option *ngFor="let option of filteredOptions3 | async" [id]="option.id" [value]="option.name + ' ' + option.surname">
                    {{option.name}} {{option.surname}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <button class="btn btn-color2 mr-2" (click)="save()">Guardar</button>
              <button class="btn btn-color1" (click)="cancel()">Cancelar</button>
            </div>

          </div>
        </form>
      </div>
    
      <!-- Calendario -->
      <div class="col-sm-8">
        <a class="menu" *ngIf="doctorCalendar == false">
          <p>Calendario</p>
          <i class="material-icons" (click)="gotoCalendar()">date_range</i>
        </a>
        <div class="row" *ngIf="doctorCalendar">
          <div class="col-sm-12">
            <div class="week_calendar">
              <h5>Semana: {{firstDay | date: 'dd/LL/yyyy'}} - {{lastDay | date: 'dd/LL/yyyy'}}</h5>
              <a *ngIf="week_next" (click)="next_week()">Siguiente semana <i class="material-icons">arrow_forward</i></a>
              <a *ngIf="week_next == false" (click)="previus_week()"><i class="material-icons">arrow_back</i> Semana actual</a>
            </div>
            <div class="horario row horario_home">
              <div class="col" *ngFor="let cal of calendar_global; index as i">
                <div class="horario-title">
                  <h4>{{ weekdays[i] }}</h4>
                </div>
                <div class="horario-boddy">
                  <div *ngFor="let schedule of cal" class="{{schedule.class}} {{getClass(schedule)}}" (click)="setDateTime(schedule)">
                    <h4>{{schedule.time | date: 'shortTime'}} <br> <span [innerHTML]="schedule.patient"></span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>