<app-header></app-header>
<div class="row justify-content-center mt-3">
  <div class="col-sm-8">
    <div class="row mt-3 mb-3">
      <div class="col-sm-8">
        <h2 class="text-center">Atenciones del paciente: {{patient.names}} {{patient.surnames}}</h2>
      </div>
      <div class="col-sm-4 text-right">
        <a [routerLink]="[ '/home']" class="btn btn-primary">Agregar paciente</a>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="personal">
          <th mat-header-cell *matHeaderCellDef> Fisioterapeuta </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{parsePersonal(element.personal)}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sessions">
          <th mat-header-cell *matHeaderCellDef> Sesiones </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.sessions}} </td>
        </ng-container>
    
        <ng-container matColumnDef="startdate">
          <th mat-header-cell *matHeaderCellDef> Dia inicio </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.startdate}} </td>
        </ng-container>

        <ng-container matColumnDef="interval">
          <th mat-header-cell *matHeaderCellDef> Intervalo </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.interval}} </td>
        </ng-container>

        <ng-container matColumnDef="hour">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.hour}} </td>
        </ng-container>

        <ng-container matColumnDef="hour2">
          <th mat-header-cell *matHeaderCellDef> Hora Sabado </th>
          <td class="clickable" mat-cell *matCellDef="let element"> {{element.hour2}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <i class="material-icons clickable" (click)="schedulePersonal(element)">watch_later</i> 
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
