/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';


@textblack: #272727;

/* colors */
@color1: #93A8AC;
@color2: #4464AD;
@color3: #67697C;
@color4: #253D5B;
@color5: #A4B0F5;
@black: #272727;
@white: #e9e9e9;
@yellow: #FABC3C;
@green: #B8E2C8;
@red: #FB4D3D;

* {
    font-family: 'Ubuntu', sans-serif;
}

.btn-color1 {
    background: @color1;
}
.btn-color2 {
    background: @color2;
}
.btn-color3 {
    background: @color3;
}
.btn-color4 {
    background: @color4;
}

.btn-color1, .btn-color2, .btn-color3, .btn-color4 {
    color: @white;
}
.mat-form-field {
    width: 100%;
}

.clickable {
    cursor: pointer;
}
.intro {
    height: 100vh;
    .image {
        user-select: none;
        cursor: pointer;
        text-decoration: none;
        color: @textblack;
        img {
            padding-right: 10rem;
        }
        p {
            text-align: center;
            font-size: 2rem;
            font-family: 'Ubuntu', sans-serif;
        }
    }
}

.home {
    align-items: center;
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        user-select: none;
        i {
            text-align: center;
            display: block;
            font-size: 6rem;
            cursor: pointer;
        }
        p {
            font-size: 1.5rem;
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
        }
    }
}

.header {
    padding: 0;
    .row {
        background: @color2;
    }
    .menu-navbar {
        list-style: none;
        width: 100%;
        padding-top: .75rem;
        .item {
            position: relative;
            background: @color2;
            z-index: 10;
            display: inline-block;
            margin-right: 1.5rem;
            a {
                display: flex;
                align-items: center;
                font-size: 1.15rem;
                z-index: 10;
                position: relative;
                background: @color2;
                color: @white;
                i {
                    margin-right: .5rem;
                }
            }
            a:hover {
                text-decoration: none;
            }

            .submenu {
                position: absolute;
                top: 0;
                left: 0;
                list-style: none;
                transition: all 0.5s ease-in-out;
                padding-left: 1rem;
                z-index: 0;
                visibility: hidden;
                min-width: 210px;
                display: block;
                .item:first-child {
                    border-top: none;
                }
                .item {
                    border-top: 1px solid @white;
                    display: block;
                    padding: .5rem;
                    a:hover {
                        text-decoration: none;
                    }
                    a {
                        font-size: 1rem;
                        color: @white;
                    }
                }
            }
        }
        .item:hover{
            .submenu {
                visibility: visible;
                top: 3rem;
            }
        }
    }
}

.gobackCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .goback {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: @color2 !important;
    }
    h4 {
        text-align: center;
        color: @color4;
        text-transform: capitalize;
    }
}

.week_calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: @color2 !important;
    }
    h5 {
        margin-bottom: 0;
    }
}
.horario_home {
    overflow-y: auto;
}
.horario {
    margin-top: 2rem;
    .horario-title{
        border: 1px solid @color1;
        user-select: none;
        h4 {
            text-align: center;
            margin-bottom: 0;
            padding: .5rem 0;
            font-size: 1.25rem;
            color: @color4;
        }
    }
    .horario-boddy {
        user-select: none;

        .selected {
            background: @yellow;
        }
        .closed {
            background: @red;
        }
        .open {
            background: @green;
        }
        .open.selected {
            background: @yellow;
        }
        div {
            margin-top: .5rem;
            border: 1px solid @color1;
            padding: .5rem 0;
            cursor: pointer;

            h4 {
                text-align: center;
                margin-bottom: 0;
                font-size: 1rem;
                position: relative;
                i {
                    top: 0;
                }
                p {
                    margin-bottom: 0;
                    font-size: .9rem;
                }
                .separator {
                    display: block;
                    height: 1px;
                    width: 100%;
                    background: #f9f9f9;
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

.attentionform {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        user-select: none;
        i {
            text-align: center;
            display: block;
            font-size: 6rem;
            cursor: pointer;
        }
        p {
            font-size: 1.5rem;
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
        }
    }
}

.calendar_item {
    padding: 1rem;
    
    .day_cont {
        border: 1px solid @black;
        padding: 1rem;
        position: relative;

        i {
            position: absolute;
            top: .5rem;
            right: 0;
            cursor: pointer;
        }

        &.open {
            background: #ffffff;
        }
        &.no.vino {
            background: #ff6b6b;
        }
        &.vino {
            background: #B8E2C8;
        }
        &.cambio.horario {
            background: #ffed85;
        }
    }
}