<app-header></app-header>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="row home justify-content-center">
      <div class="col-sm-12">
        <a class="menu">
          <i class="material-icons">person_add</i>
        </a>
        <div class="row justify-content-center form">
          <div class="col-sm-12">
            <form [formGroup]="options">
              <div class="form-row">
                <div class="col-sm-12">
                  <mat-form-field appearance="legacy">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="surname">
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <mat-form-field appearance="legacy">
                    <mat-label>DNI</mat-label>
                    <input matInput formControlName="dni" type="number">
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="Tipo de paciente" formControlName="type" (selectionChange)="aParticular($event)">
                      <mat-option value="Particular">Particular</mat-option>
                      <mat-option value="Seguro EPS">EPS</mat-option>
                      <mat-option value="SOAT">SOAT</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12" *ngIf="showQuestions">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="¿Tuvo Operacion reciente?" formControlName="oper">
                      <mat-option value="s">Si</mat-option>
                      <mat-option value="n">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12" *ngIf="showQuestions">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="¿Tuvo Fractura reciente?" formControlName="fractu">
                      <mat-option value="s">Si</mat-option>
                      <mat-option value="n">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12" *ngIf="showQuestions">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="¿Tuvo Accidente reciente?" formControlName="accid">
                      <mat-option value="s">Si</mat-option>
                      <mat-option value="n">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="¿Receta de Traumatologo?" formControlName="traum">
                      <mat-option value="s">Si</mat-option>
                      <mat-option value="n">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <mat-form-field appearance="legacy">
                    <mat-select placeholder="¿Receta de Fisiatra?" formControlName="fisiat">
                      <mat-option value="s">Si</mat-option>
                      <mat-option value="n">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-12">
                  <button class="btn btn-color2 mr-2" (click)="save(1)">Guardar y agregar nuevo</button>
                  <button class="btn btn-color2 mr-2" (click)="save(2)">Guardar y agregar atencion</button>
                  <button class="btn btn-color1" (click)="cancel()">Cancelar</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
